 #navbar {
    background-color: lightseagreen;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;

}

#navbarlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;


    li {
        display: inline;
        float: right;
    }

    li a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        color: white;
        font-size: 35px;
    }
}

#mainbody {
    margin: 0;
}

#footerbar {
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;

} 