/* Navigation CSS */
#navbar {
    background-color: lightseagreen;
    /* overflow: hidden; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;


    li a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        color: white;
        font-size: 30px;
        float: right;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    /* background-color: red; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 142px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

/* Footer CSS */
#footerbar {
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footersonata {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    float: left;
    color: lightseagreen;
}

#credit {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    float: right;
    color: lightseagreen;
}