<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css" />

<body id="mainbody">
    <p>

        <body>
            <nav id="navbar">
                <div id="navbarlinks">
                    <li style="float:left"><a href="index.html"><i>Sonata Condominiums</i></a></li>
                    <li><a href="stay.html">Stay</a></li>
                </div>
            </nav>

            <footer id="footerbar">
                <header>Sonata</header>
            </footer>
        </body>
    </p>
</body>

</html>